@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');

:root {
    --clr-primary: #000000;
    --clr-accent: ;
    --clr-mark: ;

    --ff-text: Exo;

    --nav-gap: 2rem;
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: var(--clr-primary);
    font-family: var(--ff-text);
}

body {
    overflow: hidden;
}

.hidden {
    display: none;
}

/* Navigation */

#nav {
    text-align: center;
    margin: 0px 30px 0px 30px;
    height: 600px;
    position: relative;
}

#nav #nav-countdown {
    position: absolute;
    top: 25%;
    transform: translate(0, -50%);
}

#nav #nav-stats {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

#nav #nav-info {
    position: absolute;
    top: 75%;
    transform: translate(0, -50%);
}

#menu {
    position: fixed;
    z-index: 30;
    top: 15px;
    right: 15px;
    height: 25px;
    width: 45px;
    margin: auto;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
}

.nav-item:active {
    background-color: rgb(170, 201, 201);
}

.collapsible {
    background-color: rgb(255, 255, 255);
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
}

.active, .collapsible:hover {
    background-color: rgb(255, 255, 255);
}

.content {
    padding: 20px 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    width: 100%;
}

span {
    position: absolute;
    right: 80px;
}
