@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');

:root {
    --clr-primary: #000000;
    --clr-secondary: #ffffff;
    --clr-gradient1: #f0f0f0;
    --clr-gradient2: #eeeeee;
    --clr-gradient3: #2f2f2f;
    --clr-gradient4: #3f3f3f;

    --ff-text: Exo;

    --nav-gap: 2rem;
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--ff-text);
}

body {
    overflow: scroll;
    color: var(--clr-primary);
    background-color: var(--clr-secondary);
    transition-property: all;
    transition-duration: 3.0s;
    transition-timing-function: ease-out;
}

body.dark {
    --clr-secondary: #000000;
    --clr-primary: #e0e0e0;
    --clr-gradient1: var(--clr-gradient3);
    --clr-gradient2: var(--clr-gradient4);
    transition-property: all;
    transition-duration: 0.6s;
}

.hidden {
    display: none;
}

/* Navigation */

#nav {
    text-align: center;
    margin: 0px 30px 0px 30px;
    height: 100vh;
    position: relative;
}

#nav #nav-countdown {
    position: absolute;
    top: 20%;
    transform: translate(0, -50%);
}

#nav #nav-stats {
    position: absolute;
    top: 40%;
    transform: translate(0, -50%);
}

#nav #nav-info {
    position: absolute;
    top: 60%;
    transform: translate(0, -50%);
}

#nav #nav-theme {
    position: absolute;
    top: 80%;
    transform: translate(0, -50%);
    width: 100%;
}

#light-switch {
    height: 76px;
    padding: 20px;
    fill: var(--clr-primary);
    transition-property: all;
    transition-duration: 0.6s;
}

#fullscreen {
    height: 76px;
    fill: var(--clr-primary);
    transition-property: all;
    transition-duration: 0.6s;
}

#menu {
    position: fixed;
    z-index: 30;
    top: 15px;
    right: 15px;
    height: 23px;
    width: 50px;
    margin: auto;
    background-color: var(--clr-primary);
    color: var(--clr-secondary);
    text-align: center;
    border-radius: 5px;
}

#countdown {
    /*font-size: 4rem;
    text-align: center;*/
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template: "noth noth" "days days-description" "hours hours-description" "minutes minutes-description" "seconds seconds-description";
}

#countdown-days {
    text-align: right;
    font-size: 4rem;
    grid-area: days;
    min-width: 50vw;
}

#countdown-hours {
    text-align: right;
    font-size: 4rem;
    grid-area: hours;
    min-width: 50vw;
}

#countdown-minutes {
    text-align: right;
    font-size: 4rem;
    grid-area: minutes;
    min-width: 50vw;
}

#countdown-seconds {
    text-align: right;
    font-size: 4rem;
    grid-area: seconds;
    min-width: 50vw;
}

#cdd {
    text-align: left;
    font-size: 1.2rem;
    grid-area: days-description;
    min-width: 50vw;
}

#cdh {
    text-align: left;
    font-size: 1.2rem;
    grid-area: hours-description;
    min-width: 50vw;
}

#cdm {
    text-align: left;
    font-size: 1.2rem;
    grid-area: minutes-description;
    min-width: 50vw;
}

#cds {
    text-align: left;
    font-size: 1.2rem;
    grid-area: seconds-description;
    min-width: 50vw;
}

.extra {
    font-size: 0.9rem;
}

.collapsible {
    background-color: var(--clr-secondary);
    font-family: var(--ff-text);
    color: var(--clr-primary);
    cursor: pointer;
    padding: 18px 36px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    transition: color 0.25s ease-out, padding 0.25s ease-out, font-weight 0.1s ease-in;
}

.active {
    background-image: linear-gradient(var(--clr-gradient2), var(--clr-gradient1));
    padding: 32px 0px 4px 108px;
    font-weight: 500;
}

.content {
    padding: 20px 18px;
    display: none;
    overflow: hidden;
    background-image: linear-gradient(var(--clr-gradient1), var(--clr-secondary));
    width: 100%;
}

.span-rank {
    position: absolute;
    right: 80px;
}

.countdown-description {
    transform: translate(0, 18%);
    padding-left: 10px;
}
